plugins {
    id 'nf-amazon'
}

profiles {
    aws {
        process {
            executor = 'awsbatch'
            queue = 'nextflow-batch-job-queue'
            container = 'nfcore/methylseq'
            
        }
        workDir = 's3://nextflow-bucket-test/nextflow_env/'
        params.outdir = 's3://nextflow-bucket-test/nextflow_output/' 
        
        fusion.enabled = true
        wave.enabled = true
        aws.region = 'us-east-1'

    }
}