profiles{
  gcb{
      workDir = 'gs://dna-methyl/Alika_result_human/run'
           
      process {
          executor = 'google-batch'
          machineType = 'c2-standard-4'
          //errorStrategy = { task.exitStatus==14 ? 'retry' : 'terminate' }
          maxRetries = 2
          cpus = 2
          memory = 8.GB
          time = 1.h
          withName: fastqc { 
              machineType = 'c2-standard-4'
              cpus = 4
              memory = 10.GB
              time = 1.h
          }
          withName: trim_galore { 
              machineType = 'c2-standard-8'
              cpus = 8
              memory = 24.GB
          }
          withName: bismark_align { 
              machineType = 'c2-standard-30'
              cpus = 30
              memory = 120.GB
              disk = '1 TB'
          }
          withName: bismark_methXtract { 
              machineType = 'c2-standard-30'
              cpus = 30
              memory = 120.GB
          }
          withName: bismark_deduplicate { 
              machineType = 'c2-standard-16'
              cpus = 16
              memory = 64.GB
          }
          withName: qualimap { 
              machineType = 'c2-standard-16'
              cpus = 16
              memory = 64.GB
          }
          withName: get_software_versions { 
              machineType = 'e2-standard-2'
          }
          withName: bismark_report { 
              machineType = 'e2-standard-2'
          }
          withName: bismark_summary { 
              machineType = 'e2-standard-2'
          }
          withName: multiqc { 
              machineType = 'e2-standard-2'
          }
          withName: preseq { 
              machineType = 'e2-standard-2'
          }
          withName: output_documentation { 
              machineType = 'e2-standard-2'
          }
      }
      google {
          batch.bootDiskSize = '200 GB'
          //lifeSciences.preemptible = true
          location = 'us-central1'
          region  = 'us-central1'
          project = 'nosi-hawaii-dna-27fa'
      }
      params {
          outdir = 'gs://dna-methyl/Alika_result_human/output'
          input = 'gs://dna-methyl/Alika/H33_R{1,2}.fastq.gz'
          max_memory = 120.GB
          max_cpus = 30
          max_time = 48.h
      }
      
     }
     
}

