profiles{
  gcb{
      workDir = 'gs://dna-methyl/test/work'
      
      process {
          executor = 'google-batch'
          machineType = 'e2-standard-4'
          container = 'nfcore/methylseq'
      }
      google {
          location = 'us-central1'
          region  = 'us-central1'
          project = '<PROJECT_ID'
      }
      params {
          outdir = 'gs://dna-methyl/test/output'
      } 
     }
}