profiles{
  gcb{
      process.executor = 'google-batch'
      google.location = 'us-central1'
      google.region  = 'us-central1'
      google.project = '<PROJECT_ID>'
      workDir = "gs://dna-methyl/methyseq_sperm/work"
      params.outdir = "gs://dna-methyl/methyseq_sperm/results"
      process.machineType = 'c2-standard-16'
     }
}