profiles{
  gcb{
      process.executor = 'google-batch'
      google.location = 'us-central1'
      google.region  = 'us-central1'
      google.project = 'nih-extramural-cl-000110-2'
      workDir = "gs://demo-nextflow-bucket/methyseq_sperm/work"
      params.outdir = "gs://demo-nextflow-bucket/methyseq_sperm/results"
      process.machineType = 'c2-standard-16'
     }
}