name: 'Lint Notebook'
on:
  push:
    branches:
      - dev/lint
permissions:
  contents: write
  id-token: write

jobs:
  gather_stats:
    name: 'Gather Stats'
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        working-directory: .github/workflows
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'
          cache: 'pip'

      - name: Install requirements.txt
        run: |
          python3 -m pip install --upgrade pip
          pip3 install nbformat

      - name: Generate reports
        working-directory: .github/workflows
        run: |
          python3 lint.py

      - name: Commit changes
        uses: EndBug/add-and-commit@v9
        with:
          author_name: github-action
          author_email: cbiit-github-action@github.com
          message: 'Github Action: Refresh stats'
